<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>
<div class="main">
  <div>čia bus pockles</div>
  <div class="pockels">
    <% if (pockels.length > 0) { pockels.forEach(pockel => { %>
    <div class="pockel">
      <a class="single" href="/pockel/<%= pockel.SN %>">
        <h3 class="type"><%= pockel.type %></h3>
        <p class="info"><%= pockel.SN %></p>
        <p class="info"><%= pockel.kristalo1SN %></p>
        <p class="info"><%= pockel.kristalo2SN %></p>
        <p class="info"><%= pockel.hrSN %></p>
        <p class="info"><%= pockel.prizmesSN %></p>
      </a>
    </div>
    <% }) } else { %>
    <p>šiuo metu pockels komponentų nėra</p>
    <%} %>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
